
<!--Modals Acá-->
<!-- <button type="button" class="btn btn-primary" 
data-bs-toggle="modal" data-bs-target="#exampleModal" 
data-bs-whatever="@getbootstrap">Open modal for @getbootstrap</button> -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" #myModal>
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1  class="modal-title fs-5">{{ modalService.modalTitle }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>{{ modalService.modalBody }}</p>
        </div>
        <div class="modal-footer">
          <button  type="button" class="btn btn-success btn-ms" data-bs-dismiss="modal">ACEPTAR</button>
      </div>
      </div>
    </div>
  </div>