.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 20px;
  }
  
  .grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .grid-item img {
    max-width: 100%;
    max-height: 100%;
  }

  .first-imgs{
    width: 600px;
    height: 600px;
    cursor: pointer;
  }
  .titulo-comida{
    font-size: 23px;
    color: white;
    font-weight: bold;
    margin-top: 8px;
  }


  @media only screen and (max-width: 767px) {
    .first-imgs{
        width: 340px;
        height: 340px;
      }

      .grid-item {
        margin-left: -130px;
      }
      .titulo-comida{
        font-size: 18px;
      }
  }