<div class="col-sm-4 mx-auto h-70">

    <div class="card">

        <span class="titulo">EDITAR ARTICULO</span>
        <!-- <form [formGroup]="form">  -->
        <form [formGroup]="form" (ngSubmit)="editarArticulo()">

            <div class="mt-2 mb-3">
                <label for="exampleFormControlInput1" class="etiquetas">DESCRIPCION</label>
                <input formControlName="DESCRIPCION" type="text" class="form-control colorInput"
                    placeholder="COCA COLA NORMAL">
                <div *ngIf="form.get('DESCRIPCION').invalid && form.get('DESCRIPCION').touched">
                    <div *ngIf="form.get('DESCRIPCION')?.hasError('required')">
                        <p class="clave-error">Por favor, complete el campo.</p>
                    </div>
                </div>
            </div>

            <div class="input-container mt-2 mb-3">
                <label for="exampleFormControlInput1" class="etiquetas">PRECIO</label>
                <input class="form-control colorInput" formControlName="PRECIO" maxlength="19" inputmode="numeric"
                    type="text" placeholder="2000" (keypress)="soloNumeros($event)" (blur)="quitarComa($event)">
                <div *ngIf="form.get('PRECIO').invalid && form.get('PRECIO').touched">
                    <div *ngIf="form.get('PRECIO')?.hasError('required')">
                        <p class="clave-error">Por favor, complete el campo.</p>
                    </div>
                </div>
            </div>

            <div class="familiabox mb-2">
                <label for="exampleFormControlInput1" class="etiquetas me-2">Unidades: </label>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Unidad</mat-label>
                    <mat-select formControlName="UNIDAD">
                        <mat-option [value]="unidad" *ngFor="let unidad of listUnidades" [value]="unidad">
                            {{unidad}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="familiabox mb-2">
                <label for="exampleFormControlInput1" class="etiquetas me-2">Tipos: </label>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Tipo</mat-label>
                    <mat-select formControlName="TIPOA">
                        <mat-option [value]="tipo" *ngFor="let tipo of listTipos" [value]="tipo">
                            {{tipo}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="mb-2">
                <label for="exampleFormControlInput1" class="etiquetas me-2">Lista de Precios: </label>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Lista</mat-label>
                    <mat-select formControlName="CODLISTA">
                        <mat-option [value]="precio" *ngFor="let precio of listPrice" [value]="precio.CODLISTA">
                            {{precio.NOMBRE}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="botones">
                <button (click)="volverInicio()" class="btn btn-secondary float-start">CANCELAR</button>
                <button type="submit" [disabled]="form.invalid" class="btn btn-warning float-end">ACTUALIZAR</button>

            </div>

        </form>


    </div>
</div>