<div class="container listado p-3">

    <div class="car-body text-center p-2 ">
        <p class="titulo mt-2">LISTA DE FAMILIAS</p>
        <button type="submit" class="btn btn-success float-end" (click)="irCrearFamilia()">CREAR NUEVA</button>
        <table *ngIf="listFamilies.length > 0" class="table table-hover ">
            <thead class="encabezados">
                <tr>
                    <th scope="col">NOMBRE DE FAMILIA</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let familia of listFamilies">
                    <td (click)="getEvento(familia)">{{ familia.NOMBRE}}</td>
                
                    <!-- <td>  <i> <span class="material-symbols-outlined iconos text-primary">
                                drive_file_rename_outline
                                </span> </i>
                            </td> -->
                </tr>
            </tbody>
        </table>
        
        <h5 class="text-start mt-4" *ngIf="listFamilies.length == 0">No hay Usuarios para mostrar</h5>
    </div>

</div>
