<div class="container listado p-3">

    <p class="titulo mt-2">LISTADO DE ARTICULOS</p>
  
    <button type="submit" class="btn btn-success float-end" (click)="irCrearArticulo()">CREAR NUEVO</button>
  
    <button type="submit" class="btn btn-secondary float-start mb-3" (click)="volver()">VOLVER</button>
  

    <div class="select-container ">
        
        <input type="text" class="form-control colorInput" placeholder="Buscador" 
        (keyup)="onSearchKeyUp($event)">
    </div>
      

    <!-- <div class="select-container">
        <div class="familiabox mb-2 box1">
            <label for="exampleFormControlInput1" class="etiquetas me-2">Familias: </label>
            <mat-form-field appearance="fill">
                <mat-label>Family</mat-label>
                <mat-select [(ngModel)]="selectedFamily" (selectionChange)="filtrarCategorias()">
                    <mat-option value="Todos">Todos</mat-option>
                    <mat-option *ngFor="let family of listFamilies" [value]="family">
                        {{family}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="familiabox mb-2 ">
            <label for="exampleFormControlInput1" class="etiquetas me-2">Departamentos: </label>
            <mat-form-field appearance="fill">
                <mat-label>Depa</mat-label>
                <mat-select [(ngModel)]="selectedDepartamento" (selectionChange)="filtrarCategorias()">
                    <mat-option value="Todos">Todos</mat-option>
                    <mat-option *ngFor="let depa of listDepartamento" [value]="depa">
                        {{depa}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div> -->

    <table *ngIf="listProducts.length > 0" class="table table-hover text-center">
        <thead class="encabezados">
            <tr>
                <!-- <th scope="col">
                    <span class="desktop-only">{{ codTitle }}</span>
                    <span class="mobile-only">COD</span>
                </th> -->
                <th scope="col">NOMBRE</th>
                <th scope="col">FAMILIA</th>
                <th scope="col">
                    <span class="desktop-only">{{ depaTitle }}</span>
                    <span class="mobile-only">DEPA</span>
                </th>
                <th scope="col">CATEGORIA</th>
                <th scope="col">PRECIO</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of listProducts">
                <!-- <td (click)="getEvento(producto)">{{ producto.CODPRODUCTO }}</td> -->
                <td (click)="getEvento(producto)">{{ producto.DESCRIPCION }} <br>
                <td (click)="getEvento(producto)">{{ producto.FAMILY}}</td>
                <td (click)="getEvento(producto)">{{ producto.DEPARTAMENT}}</td>
                <td (click)="getEvento(producto)">{{ producto.CATEGORY}}</td>
                <td (click)="getEvento(producto)">{{ producto.PRECIO}}</td>
            </tr>
        </tbody>
    </table>
    <h5 class="text-start mt-4" *ngIf="listProducts.length == 0">No hay ARTICULOS para mostrar</h5>
</div>