<div class="col-sm-4 mx-auto h-75">
    <form [formGroup]="form" (ngSubmit)="login()">
        
        <div class="email p-3 mb-1">
            <label for="exampleFormControlInput1" class="etiquetas">EMAIL</label>
            <input formControlName="E_MAIL" type="email" class="form-control colorInput"
            placeholder="ejemplo@algo.com">
            <div *ngIf="form.get('E_MAIL').invalid && form.get('E_MAIL').touched">
                <div *ngIf="form.get('E_MAIL')?.hasError('required')">
                    <p class="clave-error">Por favor, complete el campo.</p>
                </div>
                <div *ngIf="form.get('E_MAIL')?.hasError('pattern') && 
                    !form.get('E_MAIL')?.hasError('required') && form.get('E_MAIL').touched">
                    <p class="clave-error"> Por favor, ingrese un correo Valido.</p>
                </div>
            </div>
        </div>

        <div class="input-container mt-2 mb-3 p-3 contra">
            <label for="exampleFormControlTextarea1" class="etiquetas">CONTRASEÑA</label>
            <input class="form-control colorInput" formControlName="CLAVE"
             minlength="3" maxlength="19" 
             type="{{showPassword ? 'text' : 'password'}}" [(ngModel)]="password">
            <span class="show-hide" (click)="togglePassword()">
              <i>
                <span class="material-symbols-outlined mt-4 me-3">
                    {{showPassword ? 'visibility' : 'visibility_off'}}
                    </span>
              </i>
            </span>
            <div *ngIf="form.get('CLAVE').invalid && form.get('CLAVE').touched">
                <p class="clave-error">Por favor, complete el campo.</p>
            </div>
          </div>

        <div id="terminos" class="container ms-4 mb-4">
            <input type="checkbox" formControlName="acceptTerms"> ACEPTO los <a href="terminos">
                Términos y Condiciones</a>
            <div class="terminosError" *ngIf="form.hasError('required', 'acceptTerms')">
                Acepte Terminos para continuar
              </div>
            <!-- <br>
            <label><input formControlName="VALIDAR"  type="checkbox"> Acepto2 los términos del servicio</label> -->
        </div>
        <div class="boto p-3">
            <button type="submit" [disabled]="form.invalid" class="btn btn-primary form-control">INICIAR</button>
        </div>
        <div class="container text-center">
            <p>¿Olvidaste tu contraseña? <a href="#">Pincha Acá</a></p>
        </div>
    </form>
</div>