<div class="col-sm-4 mx-auto h-70">

    <div class="card">

        <span class="titulo">CREAR USUARIO</span>
        <form [formGroup]="form" (ngSubmit)="crearUsuario()">

            <div class="mt-2 mb-3">
                <label for="exampleFormControlInput1" class="etiquetas">NOMBRE</label>
                <input formControlName="NOMBRE" type="text" class="form-control colorInput" placeholder="Jose">
                <div *ngIf="form.get('NOMBRE').invalid && form.get('NOMBRE').touched">
                    <div *ngIf="form.get('NOMBRE')?.hasError('required')">
                        <p class="clave-error">Por favor, complete el campo.</p>
                    </div>
                </div>
            </div>
            <div class="mt-2 mb-3">
                <label for="exampleFormControlInput1" class="etiquetas">APELLIDO</label>
                <input formControlName="APELLIDO" type="text" class="form-control colorInput" placeholder="perez">
                <div *ngIf="form.get('APELLIDO').invalid && form.get('APELLIDO').touched">
                    <div *ngIf="form.get('APELLIDO')?.hasError('required')">
                        <p class="clave-error">Por favor, complete el campo.</p>
                    </div>
                </div>
            </div>

            <div class="mt-2 mb-3">
                <label for="exampleFormControlInput1" class="etiquetas">CORREO</label>
                <input formControlName="CORREO" type="email" class="form-control colorInput"
                    placeholder="ejemplo@gmail.com">
                    <div *ngIf="form.get('CORREO').invalid && form.get('CORREO').touched">
                        <div *ngIf="form.get('CORREO')?.hasError('required')">
                            <p class="clave-error">Por favor, complete el campo.</p>
                        </div>
                        <div *ngIf="form.get('CORREO')?.hasError('pattern') && !form.get('CORREO')?.hasError('required')">
                            <p class="clave-error"> Por favor, ingrese un correo Valido.</p>
                        </div>
                    </div>
            </div>

            <div class="input-container mt-2 mb-3">
                <label for="exampleFormControlTextarea1" class="etiquetas">CONTRASEÑA</label>
                <input class="form-control colorInput" formControlName="CLAVE" pattern="[0-9]*" minlength="3"
                    maxlength="19" inputmode="numeric" type="{{showPassword ? 'text' : 'password'}}"
                    [(ngModel)]="password">
                <span class="show-hide" (click)="togglePassword()">
                    <i>
                        <span class="material-symbols-outlined mt-4">
                            {{showPassword ? 'visibility' : 'visibility_off'}}
                        </span>
                    </i>
                </span>
                <div *ngIf="form.get('CLAVE').invalid && form.get('CLAVE').touched">
                    <div *ngIf="form.get('CLAVE')?.hasError('required')">
                        <p class="clave-error">Por favor, complete el campo.</p>
                    </div>
                    <div *ngIf="form.get('CLAVE')?.hasError('pattern') && !form.get('CLAVE')?.hasError('required')">
                        <p class="clave-error"> Por favor, ingrese solo números.</p>
                    </div>
                </div>
            </div>

            <div class="mb-2">
                <label for="exampleFormControlInput1" class="etiquetas me-2">Roles: </label>
                <mat-form-field appearance="fill">
                    <mat-label>Rol</mat-label>
                    <mat-select formControlName="ROL_ID">
                        <mat-option [value]="rol" *ngFor="let rol of listRoles" [value]="rol.value">
                            {{rol.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <div class="botones">
                <button (click)="volverInicio()" class="btn btn-secondary float-start">CANCELAR</button>
                <button type="submit" [disabled]="form.invalid" class="btn btn-success float-end">GUARDAR</button>

            </div>

        </form>


    </div>
</div>