/* You can add global styles to this file, and also import other style files */
html, body{
    height: 100vh;
}
body{
    background-image: url("assets/mockup-cypro-fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

@media only screen and (max-width: 767px) {
    body {
      background-image: url(assets/mockup-cypro-mobile.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }