/* You can add global styles to this file, and also import other style files */
html, body{
    height: 100vh;
}
body{
    background-image: url("assets/mockup-cypro-fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

@media only screen and (max-width: 767px) {
    body {
      background-image: url(assets/mockup-cypro-mobile.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

/* Cambiar el color de fondo del tooltip */
.mat-tooltip {
  background-color: rgba(116,135,165,255);
  color: black;
  font-size: 20px;
}

.icono2{
  border-radius: 8px;
  width: 48px;
  height: 48px;
}

::-webkit-scrollbar {
  display: none;
  margin: 0%;
  padding: 0%;
}


