<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
      <mat-toolbar class="example-toolbar">
      <button [disabled]="boton==false" class="boton mt-2" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <div class="container" id="hora">
        <a>{{totalString}}</a>
      </div>
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav class="second-slider" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
    
        <mat-nav-list class="slider-menu">
          <a mat-list-item class="icono-color"><span class="material-symbols-outlined start-icons me-2">
            grade
            </span><p class="first-icon">INICIO </p></a>

          <a mat-list-item class="icono-color"><span class="material-symbols-outlined start-icons me-2">
            sync_saved_locally
            </span>VENTA DIRECTA </a>

          <a mat-list-item class="icono-color"><span class="material-symbols-outlined start-icons me-2">
            restaurant_menu
            </span>MESAS </a>
          <a mat-list-item class="icono-color"><span class="material-symbols-outlined start-icons me-2">
            description
            </span>FACTURACIÓN </a>
          <a mat-list-item class="icono-color"><span class="material-symbols-outlined start-icons me-2">
            shopping_cart
            </span>DELIVERY </a>
          <a mat-list-item class="icono-color"><span class="material-symbols-outlined start-icons me-2">
            groups
            </span>CLIENTES </a>
          <a mat-list-item class="icono-color"><span class="material-symbols-outlined start-icons me-2">
            window
            </span>PRODUCTOS </a>
          <a mat-list-item class="icono-color"><span class="material-symbols-outlined start-icons me-2">
            swap_vert
            </span>OPERACIONES </a>
          <a mat-list-item class="icono-color"><span class="material-symbols-outlined start-icons me-2">
            bar_chart
            </span>INFORMES </a>
          <a mat-list-item class="icono-color"><span class="material-symbols-outlined start-icons me-2">
            fact_check
            </span>INVENTARIO </a>
          <a mat-list-item class="icono-color"><span class="material-symbols-outlined start-icons me-2 ">
            tune
            </span>CONFIGURACIONES </a>
            <a mat-list-item class="icono-color"><span class="material-symbols-outlined start-icons me-2 ">
              search_off
              </span>CERRAR SESIÓN </a>
        </mat-nav-list>
      </mat-sidenav>

      <!-- <mat-menu>
        <button mat-menu-item 
          *ngFor="let item of menuListItems">
          <mat-icon>{{ item.menuIcon }}</mat-icon>
          <span> {{ item.menuLinkText }}</span>
        </button>
      </mat-menu> -->
  
      <mat-sidenav-content class="contenido-menu">
        <!-- <div class="container mt-2">
          <app-login></app-login>
        </div> -->
        <div class="container mt-5">
          <router-outlet></router-outlet>
        </div>
        
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  
  <div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>

  <!-- <mat-toolbar>
    <button mat-icon-button 
            [matMenuTriggerFor]="clickmenu">
            <mat-icon>more_vert</mat-icon>
    </button>
    <span>Selected Menu {{selectedMenu}}</span>
  </mat-toolbar>
  
  <mat-menu #clickmenu="matMenu">
    <button mat-menu-item 
            *ngFor="let item of menuListItems" 
            (click)="clickMenuItem(item)" 
            [disabled]="item.isDisabled">
      <mat-icon>{{ item.menuIcon }}</mat-icon>
      <span> {{ item.menuLinkText }}</span>
    </button>
  </mat-menu>   -->
