<div class="container listado p-3">

    <p class="titulo mt-2">LISTADO DE ARTICULOS</p>
  
    <button type="submit" class="btn btn-warning float-end" >ACTUALIZAR</button>
    <button type="submit" class="btn btn-success ms-4" (click)="crearSeccion()" >AGREGAR SECCION</button>
  
    <button type="submit" class="btn btn-secondary float-start mb-3" (click)="volver()">VOLVER</button>
  

    <!-- <div class="select-container ">
        
        <input type="text" class="form-control colorInput" placeholder="Buscador" 
        (keyup)="onSearchKeyUp($event)">
    </div> -->


    <table *ngIf="listSecciones.length > 0" class="table table-hover text-center">
        <thead class="encabezados">
            <tr>
       
                <th></th>
                <th scope="col">NOMBRE</th>
                <th *ngFor="let tipo of listTypeSale" scope="col">{{tipo.DESCRIPCION}}</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let seccion of listSecciones">
                <td ><span class="material-symbols-outlined">
                    edit_square
                    </span></td>
                <td >{{ seccion.Secciones }} <br>
                <td >{{ seccion['VENTA AUTOSERVICIO']}} <br>
                <td >{{ seccion['VENTA DESPACHO']}} <br>
                <td >{{ seccion['VENTA DIRECTA'] }} <br>
                <td >{{ seccion['VENTA MESAS'] }} <br>
                <td >{{ seccion['VENTA RETIRO'] }} <br>
               
            </tr>
        </tbody>
    </table>
    <h5 class="text-start mt-4" *ngIf="listSecciones.length == 0">No hay ARTICULOS para mostrar</h5>
</div>